p {
    margin-bottom: 0;
    margin-top: 0;
    text-indent: 1.5em;
}

p.placard {
    text-indent: 0;
    text-align: center;
}

p.verse {
    margin-left: 3em;
    text-indent: 0;
}

.song {
    font-style: oblique;
}

.signature {
    font-style: oblique;
    margin-top: 2em;
    text-align: right;
}

img {
    width: 570px;
}
